.form {
    background-color: white;
    border: 2px solid rgba(179, 174, 174, 0.742);
    border-radius: 3px;
    box-shadow: 0px 0px 11px -3px #525251be;
    width: 60%;
}

@media (max-width:767px) {
    .form {
        width: 80%;
    }
}

@media (max-width:400px) {
    .form {
        width: 100%;
    }
}

.form__header {
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    border-bottom: 2px solid rgba(179, 174, 174, 0.742);
}

.form__input {
    padding: 10px;
    border: 2px solid rgba(179, 174, 174, 0.742);
    border-radius: 5px;
}

.form__button {
    text-wrap: nowrap;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 3px;
    transition:
        background 0.5s linear,
        transform 0.5s linear,
        font-weight 0.8s linear;
}

.form__button:hover {
    background-color: rgb(52, 157, 157);
    transform: scaleX(102%);
    transition: 0.2s linear;
}

.form__button:active {
    background-color: rgb(56, 212, 212);
}

.form__gridContainer {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-gap: 15px;
    padding: 10px;
}

@media (max-width:767px) {
    .form__gridContainer {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, minmax(auto, 1fr));
        grid-gap: 5px;
    }
}