.tasks {
    list-style-type: none;
    padding: 0px;
}

.tasks__item {
    border-bottom: 3px solid rgba(144, 141, 141, 0.742);
    padding: 5px;
    transition: 0.8s;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    transition:
        background 0.3s,
        padding 0.3s,
        font-size 0.3s,
    ;
}

@media (max-width:767px) {
    .tasks__item {
        grid-template-columns: 0.5fr 2fr 0.5fr;
    }
}


@media (max-width:475px) {
    .tasks__item {
        grid-template-columns: 0.75fr 1.5fr 0.75fr;
    }
}

@media (max-width:350px) {
    .tasks__item {
        grid-template-columns: repeat(3, 1fr);
    }
}

.tasks__button {
    border: none;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #ab0929;
    border-bottom: 10px solid #ab0929;
    background-color: crimson;
    align-self: center;
    min-height: 50px;
    text-align: center;
}

.tasks__button:hover {
    background-color: rgb(241, 40, 80);
    transition: 0.2s;
}

.tasks__button:active {
    border: 3px solid #ab0929;
    border-top: 10px solid #ab0929;
}

.tasks__button--done {
    background: green;
    border: 3px solid #0c660c;
    border-bottom: 10px solid #0c660c;
}

.tasks__button--done:hover {
    background: rgb(6, 147, 6);
    transition: 0.2s;
}

.tasks__button--done:active {
    border: 3px solid #0c660c;
    border-top: 10px solid #0c660c;
}

.tasks__content {
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    justify-self: center;
    word-break: break-all;
}

.tasks__content--done {
    text-decoration: line-through;
}