.stats {
    display: grid;
    grid-template-columns: repeat(2, 25%);
    justify-content: space-around;
    border-bottom: none;
}

@media (max-width:650px) {
    .stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5px;
        grid-gap: 5%;
        justify-content: center;
        border-bottom: none;
    }
}

.stats__item {
    color: white;
    background-color: #488b2f;
    box-shadow: 0px 0px 11px -3px #525251be;
    text-decoration: underline;
    padding: 15px;
    line-height: 1.5;
}

@media (max-width:650px) {
    .stats__item {
        padding: 10px;
    }
}

.stats__item--finishedTasks {
    background-color: #46397a;
}

.stats__item--hidden {
    display: none;
}