html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.container {
  font-family: "Lexend Deca", sans-serif;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}