.buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    justify-content: space-between;

}

@media (max-width:950px) {
    .buttons {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
    }
}

.buttons__managmentButton {
    color: #287792;
    background-color: transparent;
    border: none;
    transition: 0.3s;
    padding: 0px;
    text-wrap: nowrap;
}

.buttons__managmentButton:hover {
    color: rgb(8, 187, 187);
}

.buttons__managmentButton:disabled {
    color: #44545a82;
}